@import './fonts.css';
@import './base.css';

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.3s ease;
}

.slide-right-enter-active,
.slide-left-leave-active {
  z-index: 1000;
  /* black shadow left */
  box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.slide-right-enter-from,
.slide-left-leave-to {
  transform: translateX(100%);
}

.slide-left-enter-from,
.slide-right-leave-to {
  transform: scale(0.99) translateX(-1%);
  filter: brightness(0.5);
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.3s ease;
}

.list-move,
/* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}

.titlebar-hide-enter-from,
.titlebar-hide-leave-to {
  margin-top: -56px;
}

.titlebar-hide-enter-active,
.titlebar-hide-leave-active {
  transition: all 0.3s ease;
}

.shareelement-hide-enter-from,
.shareelement-hide-leave-to {
  opacity: 0;
  transform: translateY(50px);
}

.shareelement-hide-enter-active,
.shareelement-hide-leave-active {
  transition: all 0.3s ease;
}


@layer base {

  h1,
  title {
    @apply font-title text-white;
  }

  h2 {
    @apply font-text text-white;
  }

  p {
    @apply font-text text-white;
  }

  html {
    @apply bg-background-950;
    @apply text-white;
  }
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  input {
    @apply font-text text-white;
    @apply rounded-md;
    @apply px-2 py-1;
    @apply box-border;
    @apply focus:outline-none;
  }
}