.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.3s ease;
}

.slide-right-enter-active,
.slide-left-leave-active {
  z-index: 1000;
  /* black shadow left */
  box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.slide-right-enter-from,
.slide-left-leave-to {
  transform: translateX(100%);
}

.slide-left-enter-from,
.slide-right-leave-to {
  transform: scale(0.99) translateX(-1%);
  filter: brightness(0.5);
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.3s ease;
}

.list-move,
/* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}

.titlebar-hide-enter-from,
.titlebar-hide-leave-to {
  margin-top: -72px;
}

.titlebar-hide-enter-active,
.titlebar-hide-leave-active {
  transition: all 1s ease;
  position: relative;
}

.shareelement-hide-enter-from,
.shareelement-hide-leave-to {
  opacity: 0;
  margin-bottom: -80px;
}

.shareelement-hide-enter-active,
.shareelement-hide-leave-active {
  transition: all 1s ease;
}



.discardbutton-enter-active {
  animation: hide-right 0.3s ease reverse;

}

.discardbutton-leave-active {
  animation: hide-right 0.5s ease;
}

@keyframes hide-right {
  0% {
    opacity: 1;
    margin-right: 0px;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    margin-right: -55px;
  }
}


.savebutton-enter-active {
  animation: hide-left 0.3s ease reverse;

}

.savebutton-leave-active {
  animation: hide-left 0.5s ease;
}

@keyframes hide-left {
  0% {
    opacity: 1;
    margin-left: 0px;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    margin-left: -55px;
  }
}

.readerelement-hide-enter-active,
.readerelement-hide-leave-active {
  transition: all 0.3s ease;
}

.readerbar-hide-enter-from,
.readerbar-hide-leave-to {
  margin-top: -72px;
}

.readerbar-hide-enter-active,
.readerbar-hide-leave-active {
  transition: all 0.3s ease;
  position: relative;
}

.readerelement-hide-enter-from,
.readerelement-hide-leave-to {
  opacity: 0;
  margin-bottom: -80px;
}

.readinglistsettings-enter-from,
.readinglistsettings-leave-to {
  opacity: 0;
  transform: translateX(8px);
}

.readinglistsettings-enter-active,
.readinglistsettings-leave-active {
  transition: all 0.3s ease-out;
}

.readersettings-enter-from,
.readersettings-leave-to {
  opacity: 0;
  transform: translate(0%, -10%);
}

.readersettings-enter-active,
.readersettings-leave-active {
  transition: all 0.3s ease;
  -tw-backdrop-blur: blur(12px)
}