.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.3s ease;
}

.slide-right-enter-active,
.slide-left-leave-active {
  z-index: 1000;
  /* black shadow left */
  box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.slide-right-enter-from,
.slide-left-leave-to {
  transform: translateX(100%);
}

.slide-left-enter-from,
.slide-right-leave-to {
  transform: scale(0.99) translateX(-1%);
  filter: brightness(0.5);
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.3s ease;
}

.list-move,
/* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}

.titlebar-hide-enter-from,
.titlebar-hide-leave-to {
  margin-top: -56px;
}

.titlebar-hide-enter-active,
.titlebar-hide-leave-active {
  transition: all 0.3s ease;
  position: relative;
}

.shareelement-hide-enter-from,
.shareelement-hide-leave-to {
  opacity: 0;
  transform: translateY(50px);
}

.shareelement-hide-enter-active,
.shareelement-hide-leave-active {
  transition: all 0.3s ease;
}